@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
body {
    background: #faf8ef;
    color: #776e65;

    font-family: "Poppins";
    font-size: 18px;
	font-weight: 700;
}

div {
    display: block;
}

.container {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.heading {
	letter-spacing: 5px;
	text-align: center;
}

.title {
	font-size: 60px;
	margin: 0px;
}

.score {
	font-size: 30px;
	margin: 10px 0px;
}

hr {
    width: 500px;
	height: 3px;
	background-color: #776e65;
	margin: 0px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;
	border-radius: 6px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
}

#win {
	width: 400px;
    height: 400px;
	margin: 0 auto;

	position:absolute;
	z-index: 100;
    background-color: rgba(255, 255, 0, 0.5);
    display:none;
}

#win p {
	text-align: center;
	margin: 155px 0px;
	font-size: 60px;
}

/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}